header {
    line-height: 1em;
    background-color: #EFEFEF;
    padding-top: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .25em;
    margin: auto;
    /*width: calc(calc(100% - 2em) * .9);*/
    border-radius: 0 0 1em 1em;
}

header > h1 {
    margin-top: 0;
}

header > h2 {
    text-indent: 2em;
}

body {
    margin: auto;
}

main{
    margin-top: 1em;
}

section {
    margin-bottom: 1em;
    width: 90vw;
    margin-right: 1em;
    margin-left: 1em;
    box-sizing: border-box;
}

.collapse {
    display: block;
    text-align: left;
    border: none;
    border-radius: 1em;
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
}

.MenuOptions {
    display: none;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

li:nth-child(odd) {
    list-style-type: circle;
}

footer {
    line-height: 1em;
    background-color: #EFEFEF;
    padding-top: 1.25em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .25em;
    margin: auto;
    /*width: calc(calc(100% - 2em) * .9);*/
    border-radius: 1em 1em 0 0;
}

/* --- 600px or wider: targeting tablets and desktops --- */ 
@media only screen and (min-width: 600px) {
    /* flex container */
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    /* flex items */
    .above,
    .below {
        width: 40%;
    }

    .below {
        order: 2;
    }

    .maincourse {
        order: 1;
        width: 100%;
    }

    /* non-flex items */
    header{
        text-align: center;
        margin-bottom: 1.5em;
    }

    header > h2 {
        text-indent: 5em;
    }

    .collapse{
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .MenuOptions {
        display: block;
        margin: auto;
        width: fit-content;
    }

    ul {
        list-style-position: inside;
        padding: 0;
    }
}
  