/* global */


/* phone */
.collapse {
    display: block;
    text-align: left;
    border: none;
    border-radius: 8px;
    width: 100%
}

.MenuOptions {
    display: none;
    overflow: hidden;
}

/* desktop */

